@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@400;500;700&display=swap');
@import "tailwindcss";
:root{
    font-family: "Inter",sans-serif;
    --custom-firozi : #76b5c5;
}
a:hover{
    background-color: beige;
}
.icons
{
    border-radius: 100%;
    padding: 3px;
}
.individual:hover{
background-color: transparent;
}
@theme{
    --font-display: "Roboto", sans-serif;
}